html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

.text-shadow {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9); /* Adjust the values as needed */
}

.small-text {
    font-size: 10px; /* Adjust the font size as desired */
}


/**PHOTO GALLERY*/
/*=======================================================================================*/
.photo-gallery {
    color: #313437;
    background-color: #fff;
}

    .photo-gallery p {
        color: #7d8285;
    }

    .photo-gallery h2 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: inherit;
    }

@media (max-width:767px) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}

    .photo-gallery .intro p {
        margin-bottom: 0;
    }

.photo-gallery .photos {
    padding-bottom: 20px;
}

.photo-gallery .item {
    padding-bottom: 30px;
}



/*=============================== cards ========================================================*/


.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-nyrented {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

/*====================    ==================*/
.filter form {
    width: 100%;
    max-width: 1190px;
}
form .inner-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 16px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    color: white
}

.filter form .inner-form .input-field {
    position: relative;
    border-right: 1px solid #ddd;
}
2
.filter form .inner-form .input-field2 {
    position: relative;
}

.navbar-logo {
    max-height: 50px;
}


